<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Return to home" routerLink="..">
    <mat-icon>arrow_back</mat-icon>Return
  </button>
</mat-toolbar>

<ng-container *ngIf="wordChars$ | async as wordChars">
  <div id="container-chars">
    <app-char *ngFor="let char of wordChars" [char]="char"></app-char>
  </div>

  <ng-container *ngIf="chars$ | async as chars">
    <div id="tried" *ngIf="chars.length">
      You tried :
      <span *ngFor="let char of chars; let last = last">
        {{ char }} {{ last ? "" : "," }}
      </span>
    </div>
  </ng-container>

  <form [formGroup]="formGroup" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="char"
        cdkFocusInitial
        placeholder="Type a character"
        aria-label="Try a character"
        #input
      />
    </mat-form-field>
    <button
      mat-button
      aria-label="Try"
      [disabled]="formGroup.invalid"
      (click)="try(); input.focus()"
    >
      Try
    </button>
  </form>
</ng-container>
