<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Return to home" routerLink="..">
    <mat-icon>arrow_back</mat-icon>Return
  </button>
</mat-toolbar>

<ng-container *ngIf="wordChars$ | async as wordChars">
  <div id="container-word-chars">
    <app-char *ngFor="let char of wordChars" [char]="char"></app-char>
  </div>

  <div id="container-chars" *ngIf="chars$ | async as chars">
    <mat-chip-list>
      <mat-chip *ngFor="let char of chars">
        {{ char }}
      </mat-chip>
    </mat-chip-list>
  </div>

  <mat-card>
    <form [formGroup]="formGroup" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="guess"
          cdkFocusInitial
          placeholder="Guess a character or a word"
          aria-label="Guess a character or a word"
          autocomplete="off"
          #input
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        aria-label="Guess"
        matTooltip="Guess"
        [disabled]="formGroup.invalid"
        (click)="guess(); input.focus()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </form>
  </mat-card>
</ng-container>
