@use "@angular/material" as mat;

@import "theme";
@import "variables";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$background: map-get($theme, "background");

#background {
  z-index: -1;
  background: linear-gradient(
    132deg,
    mat.get-color-from-palette($accent, 500),
    mat.get-color-from-palette($primary, 500),
    mat.get-color-from-palette($primary, A100)
  );
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px $cube-color-primary;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  will-change: transform;
}
.cube:nth-child(2n) {
  border-color: $cube-color-secondary;
  will-change: transform;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
  will-change: transform;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
  will-change: transform;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
  will-change: transform;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
  will-change: transform;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
  will-change: transform;
}

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
