@import "theme";

$is-dark-theme: map-get($theme, is-dark);
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$background: map-get($theme, "background");

$cube-color-primary: if($is-dark-theme, #2d2c30, #d7d4e4);
$cube-color-secondary: if($is-dark-theme, #000, #fff);

:host {
  flex-basis: auto;
  height: 4rem;
  width: 4rem;
  text-align: center;
  line-height: 4rem;

  border: solid 1px $cube-color-primary;
  transform-origin: top left;
  animation: fadein 2s;
  font-size: xxx-large;
}
